<h1>9o. Andar E-Business Park</h1>

<table>
  <thead>
    <tr>
      <th>Codigo Mesa</th>
      <th>Nome Usuario</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= mesa.c_mesa %></td>
        <td><%= mesa.n_user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

