<p>Olá <%= @resource.email %>!</p>

<p>Uma Alteração de senha foi requisitada. Favor clicar no link para realizar a mudança.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha solicitado alteração de senha, favor desconsiderar esse e-mail.</p>
<p>Sua senha não será alterada até que você entre no link acima.</p>
